body, html {
  height: 100%;
  font-family: fantasy;
}

h3 {
  font-family: fantasy;
  font-weight: bold;
  text-decoration: underline;
}

.bgimg {
  background-position: center;
  background-size: contain ;
  background-image: url('images/subcircle.png');
  min-height: 95%;
  background-repeat: no-repeat;
}

.menu {
  display: none;
}

.w3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}



/* MENU DIV */
#menu-categories-ul {
  text-align: center;
}

#current-menu {
  text-align: center;
}

.category-menu-item {
  background-color: rgb(238, 232, 232);
  border-radius: 5px;
  display: inline-block;
  list-style-type: none;
  margin: 1rem;
  cursor: pointer;
}


#eat {
  height: 500px;
  overflow-y: auto;
}


/* CONTACT US DIV */
#contact-us-header {
  background-image: url('./images/italy-flag.png');
  background-size: 100%;
  border-radius: 10px;
}

#shop-front-view {
  border-radius: 10px;
}
#where {
  text-align: center;
}

