body, html {
  height: 100%;
  font-family: fantasy;
}

.bgimg {
  background-position: center;
  background-size: contain ;
  background-image: url('images/subcircle.png');
  min-height: 75%;
}

.menu {
  display: none;
}


/* 

.category-menu-item {
  list-style-type: none;
  margin: 1rem;
  cursor: pointer;
  background-color: grey;
}

.menu-categories {
border: orangered solid;
} */